@import "../../styles/Mixins";

.card_body {
  border: 1px solid black;
  @include center_element;
  flex-direction: column;
  width: 18rem;
  min-height: 10rem;

  .card_title {
    flex: 1;
    @include center_element;
  }

  .card_content {
    flex: 1;
    @include center_element;
    flex-direction: column;
    word-break: break-word;
    padding: 0 2rem 2rem 2rem;
  }
}
