.container {
  padding: 1rem;

  .form_label {
    color: black;
    margin-bottom: 1rem;
  }

  .error_message {
    color: red;
    margin-bottom: 0.3rem;
  }

  .input_fields {
    padding: 0.5rem 1rem;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .button_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;

    .add_button {
      cursor: pointer;
        padding: 0.3rem 1.5rem;
    }

    .cancel_button {
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }
}
